.cap {
  padding: 0px;
  margin: 0px;
  color: rgba(46, 3, 104, 255);
}
hr.cap-under {
  color: rgba(46, 3, 104, 255);
  padding: 0px;
  margin: 0px;
  width: 50px;  
  border: 2px solid  rgba(46, 3, 104, 255);
}
.message-box {
  margin: 0;
}
.submit-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submit-btn {
  background-color: rgba(46, 3, 104, 255);
  width: 50%;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
}
.submit-btn:hover{
  color: rgba(46, 3, 104, 255);
  background-color: white;
  border: 1px solid rgba(46, 3, 104, 255);
  transition: 0.5s ease-in-out;
}
.submit-btn:not(:hover){
  color: white;
  background-color: rgba(46, 3, 104, 255);
  transition: 0.5s ease-in-out;
}
.detail-star-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.star-icon {
  color: rgba(221, 168, 247, 255);
  font-size: 30px;
}
p.email-add,
p.phone-add,
.location-add-1,
.location-add-2,
.country-flag, .mailto{
  font-size: 1.15rem;
  white-space: nowrap;
}
.mailto{
  /* color: black; */
  text-decoration: none;
}
.detail-social-networks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detail-social-networks a {
  margin: 0 10px;
}
.social-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.social-links:link,
.social-links:active,
.social-links:visited,
.social-links:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}  