/* Global Styles */
html,
body {
  overflow-x: hidden;
}
.navbar-nav {
  margin: 0 0 0 auto;
}
a.nav-item {
  color: rgba(46, 3, 104, 255);
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(46, 3, 104, 255);
  font-weight: bold;
}
.card-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-indicators [data-bs-target] {
  background-color: rgb(100, 100, 100);
  position: relative;
  top: 20px;
}
.carousel-tag {
  background-color: rgba(49, 0, 108, 255);
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 2px 15px;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (min-width: 500px) and (max-width: 680px) {
  .navbar-brand {
    font-size: 1rem;
    width: 0%;
    background-color: red;
  }
}
@media only screen and (max-width: 499px) {
  span.wrap {
   display: none;
   visibility: hidden;
  }
}
/* Global Styles */
