/* Homepage Styles*/
.card-carousel {
  text-align: center;
}
.card-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.more {
  color: rgba(46, 3, 104, 255);
  border: 2px solid rgba(46, 3, 104, 255);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  margin: auto;
  padding: 0px 15px;
}
.more:link,
.more:hover,
.more:active .more:visited {
  color: rgba(46, 3, 104, 255);
}
.fa-star{
  font-size: 30px;
}
.round {
  border-radius: 0.8rem;
}

.cap {
  padding: 0px;
  margin: 0px;
  color: rgba(46, 3, 104, 255);
}
hr {
  color: rgba(46, 3, 104, 255);
  padding: 0px;
  margin: 0px;
  width: 50px;
}
.circle-fab {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px gray;
  bottom: 50px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
}
.fa-star {
  color: rgba(221, 168, 247, 255);
}
.time {
  color: rgba(46, 3, 104, 255);
}
/* Hompage Styles*/